body
{
  font-family: "TimesNewRoman";
  font-size: 13px;
  background-color: white;
  text-align: center;

  padding: 0;
  margin: 0;
}

h3
{
	color: Black;
}

h4
{
  color: red;
}

p
{
  padding: 15px;
}
#header
{
  border-style: solid;
  border-width: 1px;
  background-color: white;
  margin: 10px;
  padding: 50px;
  max-width: 1100px;
  left: -600px;
  margin-right: auto;
  margin-left: auto;
}
#menu
{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    height: 500px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -480px;
    right: 0;
    top: 0;
    bottom: 0;
    color: Black;
    padding: 20px;
}
#content
{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    height: 500px;
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 125px;
    right: 0;
    top: -695px;
    bottom: 0;
    padding: 20px;
    display: inline-block;
    overflow:scroll;
	text-align: left;
}

#footer
{
    border-style: solid; /*double*/
    border-width: 1px;
    background-color: white;
    height: 100px;
    width: 1150px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}
